/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 9, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-slide:focus {
  outline: none;
}

/* line 14, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-next {
  display: block;
  height: 20px;
  width: 20px;
  top: 40% !important;
}

/* line 20, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-next:before {
  color: #262626 !important;
  opacity: 1 !important;
  content: url("../../images/next.png") !important;
}

/* line 26, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.border-div {
  height: 1px;
  background-color: #858080;
  width: 100%;
}

/* line 32, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.join-meetup {
  font-size: 32px;
  font-weight: bold;
  color: #262626;
  text-align: center;
}

/* line 38, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.meetup {
  color: #EA1353;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

/* line 44, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.facebook {
  text-align: center;
  margin-bottom: 100px;
}

/* line 49, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.image-block img {
  max-width: 100%;
}

/* line 53, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.tour-card {
  min-height: 410px;
}

/* line 57, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
select.filter-result {
  margin-bottom: 20px;
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar {
  height: 103px;
  border-radius: 0;
  background-color: #262626;
}

/* line 7, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar .navbar-brand > img {
  display: block;
  height: 80px;
  width: auto;
}

/* line 17, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
}

@media (max-width: 992px) {
  /* line 30, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-header {
    float: none;
    margin-bottom: 20px;
  }
  /* line 34, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }
  /* line 37, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-toggle {
    display: block;
  }
  /* line 42, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 45, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  /* line 49, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-nav > li {
    float: none;
  }
  /* line 52, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 56, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .collapse.in {
    display: block !important;
  }
}

@media (max-width: 992px) {
  /* line 62, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-collapse {
    box-shadow: none;
    border-width: 0px;
  }
  /* line 68, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  ul.nav.navbar-nav {
    background-color: #262626;
    margin-top: 30px;
  }
}

/* line 2, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .title {
  font-size: 48px;
  color: #858080;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

/* line 11, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-sub-title {
  color: #4A4A4A;
  font-size: 28px;
  margin-bottom: 40px;
}

/* line 17, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card {
  margin-bottom: 30px;
  cursor: pointer;
  min-height: 410px;
}

/* line 22, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .ngrateit {
  display: inline-block;
}

/* line 26, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .reviews {
  display: inline-block;
  font-size: 12px;
}

/* line 31, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .language {
  display: block;
  font-size: 12px;
}

/* line 38, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .image-block.gide img {
  max-width: 100%;
  height: 200px;
}

/* line 47, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .tour-name {
  font-weight: bold;
  color: #4A4A4A;
  display: block;
  padding: 10px 0 0;
  font-size: 15px;
}

/* line 55, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .tour-gide-name {
  display: block;
}

/* line 59, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .guide-name {
  color: #4A4A4A;
  display: block;
  padding: 10px 0 0;
  font-size: 15px;
}

/* line 69, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all {
  margin-top: 23px;
  display: block;
  float: right;
  color: #262626;
  font-weight: normal;
}

/* line 76, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all img {
  height: 12px;
  width: 12px;
}

/* line 81, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all:active, .explore-tours a.see-all:focus, .explore-tours a.see-all:hover, .explore-tours a.see-all:visited {
  text-decoration: none;
}

@media (max-width: 768px) {
  /* line 92, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .explore-tours .title {
    margin-top: 60px;
  }
  /* line 97, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .explore-tours .tours-list .tour-sub-title {
    text-align: center;
  }
  /* line 101, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .explore-tours .tours-list .tour-card {
    text-align: center;
  }
  /* line 104, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .explore-tours .tours-list .tour-card .image-block img {
    display: block;
    margin: 0 auto;
  }
}

/* line 142, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd {
  padding: 40px 0;
}

/* line 146, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li {
  position: relative;
  width: 124px;
}

/* line 149, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li a, .explore-citygyd ul.tabs-link li span {
  color: #858080;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* line 159, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li.active::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #58ABCA;
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details {
  padding: 50px 0;
}

/* line 4, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .contact.btn {
  background-color: #58ABCA;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  width: 330px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  padding: 22px;
  margin: 40px 20px;
  display: block;
  text-align: center;
}

/* line 21, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-name {
  color: #858080;
  text-align: left;
  font-weight: bold;
  font-size: 42px;
  text-transform: capitalize;
}

/* line 30, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-desc {
  color: #000;
  font-size: 20px;
  line-height: 35px;
  display: block;
  padding: 20px 0;
}

/* line 39, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-info span {
  display: block;
  color: #858080;
  font-size: 20px;
  font-weight: bold;
}

/* line 50, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours {
  padding: 30px 0;
}

/* line 52, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-title {
  color: #858080;
  font-weight: bold;
  font-size: 24px;
}

/* line 57, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-details {
  padding: 30px 0;
  min-height: 200px;
}

/* line 61, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-name {
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

/* line 67, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-desc {
  color: #858080;
  font-size: 20px;
}

/* line 73, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .btn.learn-more {
  border: none;
  color: #fff;
  background-color: #58ABCA;
  font-weight: bold;
  font-size: 24px;
  width: 220px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-top: 30px;
}

/* line 87, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .price {
  color: #858080;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  /* line 96, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details {
    text-align: center;
  }
  /* line 99, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .image-block img {
    display: block;
    margin: 30px auto;
  }
  /* line 105, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .contact.btn {
    text-align: center;
    display: block;
    margin: 30px auto;
  }
  /* line 113, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .gide-name {
    text-align: center;
  }
  /* line 127, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours {
    text-align: center;
  }
  /* line 131, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .image-block {
    text-align: center;
    margin: 0 auto;
  }
  /* line 134, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .image-block img {
    margin: 0 auto;
  }
  /* line 148, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .btn.learn-more {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
}

/* line 8, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper .image-block {
  height: 500px;
}

/* line 10, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper .image-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*# sourceMappingURL=maps/style.css.map */
