@charset "UTF-8";
/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 9, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
input[type='button']:focus, input[type='button']:active {
  outline: none;
  border: 0;
}

/* line 13, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
input[type='button']:active:focus {
  border: 0;
  outline: none;
}

/* line 19, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-slide:focus {
  outline: none;
}

/* line 24, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-next {
  display: block;
  height: 20px;
  width: 20px;
  top: 40% !important;
}

/* line 30, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.slick-next:before {
  color: #262626 !important;
  opacity: 1 !important;
  content: url("../../images/next.png") !important;
}

/* line 36, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.border-div {
  height: 1px;
  background-color: #858080;
  width: 100%;
}

/* line 42, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.join-meetup {
  font-size: 32px;
  font-weight: bold;
  color: #262626;
  text-align: center;
}

/* line 48, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.meetup {
  color: #EA1353;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

/* line 54, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.facebook {
  text-align: center;
  margin-bottom: 100px;
}

/* line 59, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.image-block img {
  max-width: 100%;
}

/* line 63, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.tour-card {
  min-height: 410px;
}

/* line 67, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
select.filter-result {
  margin-bottom: 20px;
}

/* line 72, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.single-error-message {
  text-align: center;
  display: block;
  color: red;
  font-weight: 500;
  padding: 0px;
  /* margin-bottom: 9px; */
  margin-top: -29px;
}

/* line 81, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_general.scss */
.error-message {
  color: red;
  font-weight: 600;
  font-size: 21px;
  background: #ccc;
  padding: 30px 10px;
  border-left: 12px solid red;
  width: 500px;
  text-align: center;
  margin: 20px auto;
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar {
  height: 103px;
  border-radius: 0;
  background-color: #262626;
  z-index: 9999;
}

/* line 8, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar .navbar-brand > img {
  display: block;
  height: 80px;
  width: auto;
}

/* line 18, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
.navbar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
}

@media (max-width: 992px) {
  /* line 30, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar-collapse {
    box-shadow: none;
    border-width: 0;
  }
  /* line 37, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  ul.nav.navbar-nav {
    background-color: #262626;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 46, /var/www/html/cityGydNewDesign/src/assets/styles/sass/_navbar.scss */
  .navbar.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 0px;
  }
}

/* line 2, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .title {
  font-size: 48px;
  color: #858080;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

/* line 11, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-sub-title {
  color: #4A4A4A;
  font-size: 28px;
  margin-bottom: 40px;
}

/* line 17, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card {
  margin-bottom: 30px;
  cursor: pointer;
  min-height: 410px;
}

/* line 22, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .ngrateit {
  display: inline-block;
}

/* line 26, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .reviews {
  display: inline-block;
  font-size: 12px;
}

/* line 31, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .language {
  display: block;
  font-size: 12px;
}

/* line 38, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .image-block.gide img {
  max-width: 100%;
  height: 200px;
}

/* line 47, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .tour-name {
  font-weight: bold;
  color: #4A4A4A;
  display: block;
  padding: 10px 0 0;
  font-size: 15px;
}

/* line 55, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .tour-gide-name {
  display: block;
}

/* line 59, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours .tour-card .guide-name {
  color: #4A4A4A;
  display: block;
  padding: 10px 0 0;
  font-size: 15px;
}

/* line 69, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all {
  margin-top: 23px;
  display: block;
  float: right;
  color: #262626;
  font-weight: normal;
}

/* line 76, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all img {
  height: 12px;
  width: 12px;
}

/* line 81, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-tours a.see-all:active, .explore-tours a.see-all:focus, .explore-tours a.see-all:hover, .explore-tours a.see-all:visited {
  text-decoration: none;
}

@media (max-width: 768px) {
  /* line 92, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .title {
    margin-top: 60px;
  }
  /* line 97, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .tours-list .tour-sub-title {
    text-align: center;
  }
  /* line 101, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .tours-list .tour-card {
    text-align: center;
  }
  /* line 104, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
  .tours-list .tour-card .image-block img {
    display: block;
    margin: 0 auto;
  }
}

/* line 142, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd {
  padding: 40px 0;
}

/* line 146, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li {
  position: relative;
  width: 124px;
}

/* line 149, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li a, .explore-citygyd ul.tabs-link li span {
  color: #858080;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* line 159, /var/www/html/cityGydNewDesign/src/assets/styles/sass/tours.scss */
.explore-citygyd ul.tabs-link li.active::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #58ABCA;
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details {
  padding: 50px 0;
}

/* line 6, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .image-block img.img-circle {
  height: 140px;
  width: 140px;
}

/* line 13, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .book-tour-title {
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0;
  color: #858080;
}

/* line 20, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .contact-btn-block {
  height: 220px;
}

/* line 24, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .contact-btn-block .contact.btn {
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 34, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .contact.btn {
  background-color: #58ABCA;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  width: 250px;
  height: 70px;
  font-size: 23px;
  font-weight: bold;
  padding: 20px 13px;
  margin: 40px 0;
  display: block;
  text-align: center;
}

/* line 50, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-name {
  color: #858080;
  text-align: left;
  font-weight: 600;
  font-size: 42px;
  text-transform: capitalize;
}

/* line 58, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-desc {
  color: #000;
  font-size: 20px;
  line-height: 35px;
  display: block;
  padding: 20px 0;
}

/* line 67, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.gide-details .gide-info span {
  display: block;
  color: #858080;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
}

/* line 77, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours {
  padding: 30px 0;
}

/* line 80, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-title {
  color: #858080;
  font-weight: 600;
  font-size: 24px;
}

/* line 86, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-details {
  padding: 30px 0;
  min-height: 200px;
}

/* line 91, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-name {
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

/* line 97, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .tour-desc {
  color: #858080;
  font-size: 20px;
}

/* line 103, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .btn.learn-more {
  border: none;
  color: #fff;
  background-color: #58ABCA;
  font-weight: bold;
  font-size: 24px;
  width: 220px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-top: 30px;
}

/* line 118, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
.tours .price {
  color: #858080;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  /* line 125, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details {
    text-align: center;
  }
  /* line 129, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .image-block img {
    display: block;
    margin: 30px auto;
  }
  /* line 137, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .contact-btn-block .contact.btn {
    text-align: center;
    display: block;
    margin: 30px auto;
  }
  /* line 145, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .contact-btn-block .contact.btn {
    text-align: center;
    display: block;
    margin: 30px auto;
  }
  /* line 153, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .gide-details .gide-name {
    text-align: center;
  }
  /* line 164, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours {
    text-align: center;
  }
  /* line 169, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .image-block {
    text-align: center;
    margin: 0 auto;
  }
  /* line 173, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .image-block img {
    margin: 0 auto;
  }
  /* line 185, /var/www/html/cityGydNewDesign/src/assets/styles/sass/gides.scss */
  .tours .btn.learn-more {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
}

/* line 8, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper .image-block {
  height: 500px;
}

/* line 10, /var/www/html/cityGydNewDesign/src/assets/styles/sass/loader.scss */
.loader-wrapper .image-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container,
.signup-block {
  padding: 80px 0;
}

/* line 5, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .title,
.signup-block .title {
  font-weight: 600;
  color: #858080;
  font-size: 40px;
  padding: 20px;
}

/* line 13, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .image-block img,
.signup-block .image-block img {
  margin: 0 auto;
}

/* line 18, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group,
.signup-block .form-group {
  text-align: center;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
}

/* line 21, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group input[type='date'],
.booking-container .form-group input[type='email'],
.booking-container .form-group input[type='password'],
.booking-container .form-group input[type='text'],
.booking-container .form-group select,
.booking-container .form-group input[type='time'],
.signup-block .form-group input[type='date'],
.signup-block .form-group input[type='email'],
.signup-block .form-group input[type='password'],
.signup-block .form-group input[type='text'],
.signup-block .form-group select,
.signup-block .form-group input[type='time'] {
  width: 500px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  color: #C4BCBD;
  font-size: 20px;
  margin-bottom: 40px;
}

/* line 36, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group input[type='button'],
.signup-block .form-group input[type='button'] {
  margin: 0 auto;
  display: block;
  color: #fff;
  background-color: #58ABCA;
  font-weight: 600;
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 250px;
  height: 70px;
  border: 0;
}

/* line 48, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group input[type='button'].booking,
.signup-block .form-group input[type='button'].booking {
  width: 90%;
  height: 55px;
  font-size: 24px;
  margin: 100px auto;
}

/* line 57, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group .inputfile,
.signup-block .form-group .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

/* line 64, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group .inputfile + label,
.signup-block .form-group .inputfile + label {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  height: 60px;
  padding: 14px;
  cursor: pointer;
  color: #858080;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  position: relative;
}

/* line 77, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group .inputfile + label:before,
.signup-block .form-group .inputfile + label:before {
  position: absolute;
  content: '+';
  left: 0;
  top: 0;
  background-color: #D7D7D7;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  height: 60px;
  width: 60px;
  padding-top: 5px;
}

/* line 105, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:checked,
.booking-container .form-group [type="checkbox"]:not(:checked),
.signup-block .form-group [type="checkbox"]:checked,
.signup-block .form-group [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

/* line 111, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:checked + label,
.booking-container .form-group [type="checkbox"]:not(:checked) + label,
.signup-block .form-group [type="checkbox"]:checked + label,
.signup-block .form-group [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* line 118, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:checked + label:before,
.booking-container .form-group [type="checkbox"]:not(:checked) + label:before,
.signup-block .form-group [type="checkbox"]:checked + label:before,
.signup-block .form-group [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 132, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:checked + label:after,
.booking-container .form-group [type="checkbox"]:not(:checked) + label:after,
.signup-block .form-group [type="checkbox"]:checked + label:after,
.signup-block .form-group [type="checkbox"]:not(:checked) + label:after {
  content: '✔';
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #858080;
  transition: all 0.2s;
}

/* line 144, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:not(:checked) + label:after,
.signup-block .form-group [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* line 149, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group [type="checkbox"]:checked + label:after,
.signup-block .form-group [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 156, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
.booking-container .form-group label.terms,
.booking-container .form-group span.terms,
.signup-block .form-group label.terms,
.signup-block .form-group span.terms {
  color: #858080;
  font-weight: 300;
  font-size: 18px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  /* line 168, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
  .signup-block {
    padding: 80px 0;
  }
  /* line 178, /var/www/html/cityGydNewDesign/src/assets/styles/sass/signup.scss */
  .signup-block .form-group input[type='email'],
  .signup-block .form-group input[type='password'],
  .signup-block .form-group input[type='text'] {
    width: 100%;
  }
}

/* line 1, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container {
  padding: 20px 0;
}

/* line 3, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .tour-name {
  font-weight: bold;
  font-size: 40px;
  padding: 0px;
  margin: 0;
}

/* line 9, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .tour-desc {
  color: #858080;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

/* line 15, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .booking-price {
  text-align: left;
  color: #000;
  font-weight: 700;
  font-size: 36px;
}

/* line 21, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container form {
  margin: 50px 0;
}

/* line 25, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .form-group.time-picker {
  position: relative;
}

/* line 29, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .form-group input[type='text'], .booking-container .form-group input[type='date'], .booking-container .form-group input[type='time'], .booking-container .form-group select {
  width: 100%;
}

/* line 32, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .form-group select {
  height: 60px;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 37, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.booking-container .form-group select::-ms-expand {
  display: none;
}

/* line 43, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.uib-time {
  width: 60%;
}

/* line 45, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
.uib-time.am-pm {
  padding: 10px 20px 50px 10px;
}

@media screen and (max-width: 768px) {
  /* line 52, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
  .booking-container .tour-name {
    text-align: center;
  }
  /* line 55, /var/www/html/cityGydNewDesign/src/assets/styles/sass/booking.scss */
  .booking-container .tour-desc {
    text-align: center;
  }
}

/*# sourceMappingURL=maps/style.css.map */
