.navbar {
  height: 103px;
  border-radius: 0;
  background-color: $theme_black;
  z-index: 9999;

  .navbar-brand {
    & > img {
      display: block;
      height: $logo_height;
      width: auto;
    }
  }

  &.navbar-inverse {
    .navbar-nav {
      & > li {
        & > a {
          color: $pure_white;
          font-weight: bold;
          font-size: 20px;
          line-height: 70px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    box-shadow: none;
    border-width: 0;
  }

  ul {
    &.nav {
      &.navbar-nav {
        background-color: $theme_black;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 0px;
}

}
