.loader-wrapper{
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.25);
  position: fixed;
  top: 0;
  .image-block{
    height: 500px;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
}
