<div class="tour-card" ui-sref="app.gide({gidename: gide.gidename})">
  <div class="image-block gide"> <img src="{{gide.user.image.url}}" alt="{{tour.description}}" /> </div> <span class="tour-name">
      {{gide.user.firstName}} {{gide.user.lastName}}

    </span>
  <!-- <span class="expertise" ng-repeat="(key,value) in gide.expertise">
      {{ key }} </span> -->
      <span class="expertise">{{gide.expertise}}</span>
  <br>
  <!-- <span ng-repeat="(key, value) in gide.languages"> {{key}} </span> -->
  <span class="language">{{  gide.languages}} </span>
</div>
