<div class="container">
  <div class="row">
    <div class="gide-details">
      <div class="col-sm-6 col-md-4">
        <div class="image-block"> <img src="{{tour.tourData.image.url}}" alt="{{gide.gideData.gidename}}" class="img img-responsive" /> </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <h3 class="gide-name"> {{tour.tourData.title}} </h3>
 <p class="gide-desc"> {{tour.tourData.description}} </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="gide-details">

      <div class="col-sm-8">
        <h3>Book this tour with {{tour.tourData.gide.user.firstName}}</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="image-block">
              <img src="{{tour.tourData.gide.user.image.url}}" alt="" class="img img-circle img-responsive" />

            </div>

          </div>
          <div class="col-sm-8">
            <p class="gide-info"> <span class="language-details">I speak:  </span> <span class="interests-details">My interests are: </span> <span class="avail-dtails">I am generaly available:  </span> </p>


          </div>

        </div>


      </div>
      <div class="col-sm-4">
<div class=""> <a href="#" class="contact btn btn-default">Contact {{tour.tourData.gide.user.firstName}}</a> </div>
      </div>


    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="border-div"></div>
      <div class="tours">
        <h3 class="tour-title">Check out my tours</h3>
      
        <div class="tour-details" ng-repeat="tour in tour.gideData.tours">
          <div class="row">
            <div class="col-sm-3">
              <div class="image-block"> <img src="{{tour.image.url}}" alt="" class="img img-responsive" /> </div>
            </div>
            <div class="col-sm-5">
              <h4 class="tour-name">{{tour.title}}</h4>
              <p class="tour-desc"> {{tour.description | limitTo: 100}}{{tour.description.length > 20 ? '...' : ''}} </p> <span class="price"> $ {{ tour.price}}  /  1 Hours </span> </div>
            <div class="col-sm-4"> <a href="#" class="btn btn-default learn-more">Learn More </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> </div>
  </div>
</div>
