<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="explore-citygyd explore-tours">
        <ul class="list-inline tabs-link">

          <li ng-class="{active: $route.current.activeTab == 'tours'}" ui-sref="app.tourgide.tours"><span href="#">Tours</span></li>
          <li ng-class="{active: $route.current.activeTab == 'gides'}" ui-sref="app.tourgide.gides"><span href="#">Gyds</span></li>
        </ul>


      </div>

    </div>

  </div>
<ui-view></ui-view>
</div>
