<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-sm-2">
        <select class="form-control filter-result" name="tourtype" ng-model="tourgide.tourtype">
           <option ng-value="all" ng-selected>
             All Tours
           </option>

        </select>

      </div>

    </div>


    <div class="row">
      <div class="col-sm-3 " ng-repeat="tour in tourgide.tourData">
        <div class="explore-tours">
          <div class="tours-list">
                      <tour-card tour="tour"></tour-card>

          </div>


        </div>

      </div>

    </div>



  </div>

</div>
