<div class="container">
  <div class="signup-block">
    <div class="row">
      <div class="col-md-12">
        <div class="image-block logo text-center">
          <img src="../../../assets/images/CityGyd_logo.png" alt="CityGyd" class="img img-responsive" />

        </div>




          <form class="" name="loginForm" method="post" novalidate>
            <h1 class="title text-center">Login </h1>
            <p class="error-message" ng-bind="login.formisValiderror" ng-if="login.formisValiderror"></p>

            <div class="form-group">
              <input type="email" name="email" ng-model="login.formData.email" class="form-control" placeholder="Email" ng-maxlength="100" required>

              <span class="single-error-message" ng-show="!loginForm.email.$pristine && loginForm.email.$error.required">Email is required.</span>
                <span class="single-error-message" ng-show="!loginForm.email.$pristine && loginForm.email.$error.email">Not a valid Email..</span>
              <span class="single-error-message" ng-if="loginForm.email.$error.maxlength">Email should be less 100 characters. </span>


            </div>
            <div class="form-group">
              <input type="password" name="password" ng-model="login.formData.password" class="form-control" placeholder="Password"  required>

              <span class="single-error-message" ng-show="!loginForm.password.$pristine && loginForm.password.$error.required">Password  is required.</span>
            </div>


            <span class="" style="display: none">{{login.formValid_sec = loginForm.$valid}}</span>

            <div class="form-group">
              <input type="button" id="terms" ng-click="login.authenticate()" name="loginbtn" value="Log In" class="btn btn-default">

            </div>

          </form>




      </div>

    </div>



  </div>
</div>
